.banner {
  background: #27ae60;
  color: white;
  padding: 10px;
  text-align: center;
}

.green {
  color: #27ae60;
}

.banner::before {
  content: '→ ';
}

.banner::after {
  content: ' ←';
}

.your-trees {
  margin-bottom: 30px;
  padding: 20px;
  border: 2px solid black;
}

.your-trees h4 {
  margin: 0 0 10px;
}

.your-trees p {
  font-size: 16px;
  margin: 0;
}

.your-trees p:not(.big) {
  opacity: 0.5;
}

.your-trees p.big {
  font-size: 44px;
  font-weight: 700;
  padding-bottom: 10px;
}

.one,
.two,
.three {
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
}

.one::before,
.two::before,
.three::before {
  content: '1.';
  position: absolute;
  left: 0;
}

.two::before {
  content: '2.';
}

.three::before {
  content: '3.';
}
