.header {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 34px auto 0;
  max-width: 1196px;
}

@media only screen and (max-width: 1196px) {
  .header {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 690px) {
  .header {
    justify-content: center;
    flex-wrap: wrap;
  }

  .header > a {
    margin-bottom: 20px;
  }
}

.header .nav a {
  color: #27ae60;
  font-size: 16px;
  font-weight: 900;
  margin: 0 12px;
  padding: 8px 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.header a:hover {
  opacity: 0.8;
}

.header .nav a.full {
  color: white;
  background: #27ae60;
  border-radius: 22.5px;
  padding: 8px 29px;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
}

@media only screen and (max-width: 510px) {
  .header .nav a.full {
    display: none;
  }
}
